.bookworm-search-addinfo { clear:both; float:right; }
.gallery_view .shelf dl { padding-bottom:0 !important; }
.gallery_view .bookworm-search-book-link { display:block; background:none; padding-left:0; float:none; }
.bookworm-supersearch-link.subtitle a:link { color:black; }
.bookworm-supersearch-link.subtitle a:hover { color:#039; }
.simple_list_view .shelf .title .bookworm-supersearch-link.subtitle a { font-weight:normal; }
.bookworm-search-addinfo-books-tw, .bookworm-search-addinfo-books-tw:hover,
.bookworm-search-book-link, .bookworm-search-book-link:hover
  { color:#6a0 !important; }
.bookworm-search-addinfo-bookname { font-weight:normal; overflow:hidden; text-overflow:ellipsis; width:100px; white-space:nowrap; }
.gallery_view .bookworm-search-addinfo-bookname: { width:100%; }
.bookworm-anobii-expand-tag #tagSuggest p { max-height: none !important; }
.bookworm-multiple-layer { position:absolute; background-color:white; box-shadow: 6px 6px 10px #aaa; }
.bookworm-moredate { margin-left:7px; }
